@{
    ViewBag.Title = "Legazpi";
    Layout = "~/Views/Shared/layoutmain.cshtml";
}

<h2>Legazpi</h2>
<div id="view_ct">
    <div class="team_">
        <h3>Team</h3>
        <ul>
            <li>

                <img src="~/Content/images/legazpi/Gloria Remolacio.png" />
                <div>
                   Remolacio, Gloria, RMT
                </div>
            </li>

            <li>
                <img src="~/Content/images/legazpi/dhuanne barrios.png" />
                <div>
                    Barrios, Dhuane
                </div>
            </li>

            <li>
                <img src="~/Content/images/legazpi/dennis don.png" />
                <div>
                    Don, Dennis
                </div>
            </li>


            <li>

                <img src="~/Content/images/legazpi/numer aronce.png" />
                <div>
                    Aronce, Numer
                </div>
            </li>


            <li>
                <img src="~/Content/images/legazpi/maricel londonio.png" />
                <div>
                    Lodronio, Maricel
                </div>
            </li>


            <li>                
                <img src="~/Content/images/legazpi/bernard andes.png" />
                <div>
                    Andes, Bernard
                </div>
            </li>


            <li>
                <img src="~/Content/images/legazpi/Krisyllann Silveira.png" />
                <div>
                    Silveria, Krisyllann
                </div>
            </li>

            <li>
                
                <img src="~/Content/images/legazpi/Audwin Azada.png" />
                <div>
                    Azada, Audwin Jr.
                </div>
            </li>

        </ul>
    </div>
    <div class="services_">
        <h3>Services</h3>
        <ul>
            <li><div class="with_check"></div><div id="Hematology_info" class="services_info">Hematology</div></li>
            <li><div class="with_check"></div><div id="Serology_info" class="services_info">Serology</div></li>
            <li><div class="with_check"></div><div id="Clinical_Microscopy_info" class="services_info">Clinical Microscopy</div></li>
            <li><div class="with_check"></div><div id="Microbiology_info" class="services_info">Microbiology</div></li>
            <li><div class="with_check"></div><div id="Ultrasound_info" class="services_info">Ultrasound</div></li>
            <li><div class="with_check"></div><div id="ECG_info" class="services_info">ECG</div></li>
            <li><div class="with_check"></div><div id="Drug Test_info" class="services_info">Drug Test</div></li>
            <li><div class="with_check"></div><div id="XRAY_info" class="services_info">XRAY</div></li>
            <li><div class="with_check"></div><div id="Blood_Chemistry_info" class="services_info">Blood Chemistry</div></li>
            <li><div class="with_check"></div><div id="Thyroid_Function_info" class="services_info">Thyroid Function</div></li>
            <li><div class="with_check"></div><div id="Hepatitis_Profile_info" class="services_info">Hepatitis Profile</div></li>
            <li><div class="with_check"></div><div id="Spirometry_info" class="services_info">Pulmonary Function Test (Spirometry)</div></li>
            <li><div class="with_check"></div><div id="Histopath_info" class="services_info">Histopath</div></li>

        </ul>
    </div>
    <div class="location_">
        <h3>Location</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d865.2321217114863!2d123.73205473777847!3d13.138847983252495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a103dce6b2d029%3A0x6b5f1563bf80b4dc!2sMMGHHSC!5e1!3m2!1sen!2sph!4v1445578711556" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>






@section head{
    <style>
        #legazpi_lab_group {
            width: 600px;
            display: inline-block;
            float: right;
        }
    </style>

}

@section header_content{

    <div id="transition">
        <img src="~/Content/images/mmg-model2.png" />
        <img src="~/Content/images/mmg-model3.png" />
        <img src="~/Content/images/mmg-model1.png" />
    </div>
    <img id="legazpi_lab_group" src="~/Content/images/White Background - Tabaco Lab small.png" />
}


@section bottom_script{

    <script>
    //$(document).ready(function () {
    //    $("img#tabaco_lab_group").css({ "display": "none" });
    //    $("img#tabaco_lab_group").delay(500).fadeIn(1000);
    //});

    </script>
}