@{
    ViewBag.Title = "Polangui";
    Layout = "~/Views/Shared/layoutmain.cshtml";
}

<h2>Polangui</h2>

<div id="view_ct">
    <div class="team_">
        <h3>Team</h3>
        <ul>
            <li>                
                <img src="~/Content/images/polangui/luningning.png" />
                <div>
                    Escalante, Ma. Luningning
                </div>
            </li>

            <li>
                <img src="~/Content/images/polangui/sherry.png" />
                <div>
                    Castuera, Sherry, RMT.
                </div>
            </li>

            <li>
                <img src="~/Content/images/polangui/franco.png" />
                <div>
                  Benavente, Franco
                </div>
            </li>

            <li>
                <img src="~/Content/images/polangui/don.png" />
                <div>
                    Ravalo, Don Exequiel
                </div>
            </li>

            <li>
                <img src="~/Content/images/polangui/Colleen.png" />
                <div>
                   Manzanero, Caryl Collene
                </div>
            </li>

            <li>
                
                <img src="~/Content/images/polangui/Gyne Reglos.png" />
                <div>
                    Reglos, Gyne, RMT.
                </div>
            </li>
            
        </ul>
    </div>
    <div class="services_">
        <h3>Services</h3>
        <ul>
            <li><div class="with_check"></div><div id="Hematology_info" class="services_info">Hematology</div></li>
            <li><div class="with_check"></div><div id="Serology_info" class="services_info">Serology</div></li>
            <li><div class="with_check"></div><div id="Clinical_Microscopy_info" class="services_info">Clinical Microscopy</div></li>
            <li><div class="with_check"></div><div id="Microbiology_info" class="services_info">Microbiology</div></li>
            <li><div class="with_check"></div><div id="Ultrasound_info" class="services_info">Ultrasound</div></li>
            <li><div class="with_check"></div><div id="ECG_info" class="services_info">ECG</div></li>
            <li><div class="with_check"></div><div id="Drug Test_info" class="services_info">Drug Test</div></li>
            <li><div class="with_check"></div><div id="XRAY_info" class="services_info">XRAY</div></li>
            <li><div class="with_check"></div><div id="Blood_Chemistry_info" class="services_info">Blood Chemistry</div></li>
            <li><div class="with_check"></div><div id="Thyroid_Function_info" class="services_info">Thyroid Function</div></li>
            <li><div class="with_check"></div><div id="Hepatitis_Profile_info" class="services_info">Hepatitis Profile</div></li>
            <li><div class="with_check"></div><div id="Spirometry_info" class="services_info">Pulmonary Function Test (Spirometry)</div></li>
            <li><div class="with_check"></div><div id="Histopath_info" class="services_info">Histopath</div></li>
        </ul>
    </div>
    <div class="location_">
        <h3>Location</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d866.1860203800308!2d123.48986484282396!3d13.29276509034862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a1a1441406bf6b%3A0xba1a74a549588c03!2sMedical+Mission+Group+Hospital+Health+Services+Cooperative!5e1!3m2!1sen!2sph!4v1445579982629" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>


@section head{
    <style>
        img#polangui_lab_group {
            width: 500px;
            display:inline-block;   
            float:right;
        }
    </style>
}


@section header_content{

    <div id="transition">
        <img src="~/Content/images/mmg-model2.png" />
        <img src="~/Content/images/mmg-model3.png" />
        <img src="~/Content/images/mmg-model1.png" />
    </div>
    <img id="polangui_lab_group" src="~/Content/images/White Background - Polangui Lab small.png" />
}


@section bottom_script{

    <script>
        //$(document).ready(function () {
        //    $("img#tabaco_lab_group").css({ "display": "none" });
        //    $("img#tabaco_lab_group").delay(500).fadeIn(1000);
        //});

    </script>
}