@{
    ViewBag.Title = "Tabaco";
    Layout = "~/Views/Shared/layoutmain.cshtml";
}
<!--TABACO VIEW DESIGN-->

<h2>Tabaco</h2>
<div id="view_ct">
    <div class="team_">
        <h3>Team</h3>
        <ul>
            <li>
                <img src="~/Content/images/tabaco/lilia.png" />
                <div>
                    Lilia V. Colar, RMT.
                </div>
            </li>

            <li>                
                <img src="~/Content/images/tabaco/marilou claveria.png" />
                <div>
                   Marilou I. Claveria, RMT.
                </div>
            </li>

            <li>
                
                <img src="~/Content/images/tabaco/rosario.png" />
                <div>
                  Rosario Emilia Boral
                </div>
            </li>

            <li>

                <img src="~/Content/images/tabaco/laiza.png" />
                <div>
                   Aliza Aranas, Lab. Tech II
                </div>
            </li>

            <li>

                <img src="~/Content/images/tabaco/ted.png" />
                <div>
                  Ted Brotamonte, Lab. Tech. II
                </div>
            </li>

            <li>

                <img src="~/Content/images/tabaco/jason.png" />
                <div>
                   Jason Cid, Lab. Tech. I
                </div>
            </li>

            <li>
                <img src="~/Content/images/tabaco/vanessa.png" />
                <div>
                   Vanessa Basallote, Lab. Tech. I
                </div>
            </li>


            <li>
                
                <img src="~/Content/images/tabaco/Karen Aldenese.png" />
                <div>
                    Aldenese, Karen, RMT
                </div>
            </li>
        </ul>
    </div>
    <div class="services_">
        <h3>Services</h3>
        <ul>         
            <li><div class="with_check"></div><div id="Hematology_info" class="services_info">Hematology</div></li>
            <li><div class="with_check"></div><div id="Serology_info" class="services_info">Serology</div></li>
            <li><div class="with_check"></div><div id="Clinical_Microscopy_info" class="services_info">Clinical Microscopy</div></li>
            <li><div class="with_check"></div><div id="Microbiology_info" class="services_info">Microbiology</div></li>
            <li><div class="with_check"></div><div id="Ultrasound_info" class="services_info">Ultrasound</div></li>
            <li><div class="with_check"></div><div id="ECG_info" class="services_info">ECG</div></li>
            <li><div class="with_check"></div><div id="Drug Test_info" class="services_info">Drug Test</div></li>
            <li><div class="with_check"></div><div id="XRAY_info" class="services_info">XRAY</div></li>
            <li><div class="with_check"></div><div id="Blood_Chemistry_info" class="services_info">Blood Chemistry</div></li>
            <li><div class="with_check"></div><div id="Thyroid_Function_info" class="services_info">Thyroid Function</div></li>
            <li><div class="with_check"></div><div id="Hepatitis_Profile_info" class="services_info">Hepatitis Profile</div></li>
            <li><div class="with_check"></div><div id="Spirometry_info" class="services_info">Pulmonary Function Test (Spirometry)</div></li>
            <li><div class="with_check"></div><div id="Histopath_info" class="services_info">Histopath</div></li>
           
        </ul>
    </div>
    <div class="location_">
        <h3>Location</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m11!1m3!1d866.4111377826066!2d123.72927761789848!3d13.360549309346913!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sph!4v1445578270336" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>






@section head{
  <style>      

      #tabaco_lab_group {
        width:600px;   
        display:inline-block;   
        float:right;
      }

  </style>

    }

@section header_content{    

<div id="transition">
    <img src="~/Content/images/mmg-model2.png" />
    <img src="~/Content/images/mmg-model3.png" />
    <img src="~/Content/images/mmg-model1.png" />
</div>
<img id="tabaco_lab_group" src="~/Content/images/White Background - Tabaco Lab small.png" />
}


@section bottom_script{
   
<script>
    //$(document).ready(function () {
    //    $("img#tabaco_lab_group").css({ "display": "none" });
    //    $("img#tabaco_lab_group").delay(500).fadeIn(1000);
    //});

</script>
    }